<div class="cat">
    <div class="cat__head">
        <div class="cat__head__title" [routerLink]="['/']">Знайди свого кота</div>
    </div>
    <div class="cat__body body">
        <div class="body__navigation">
            <div class="body__navigation__title">Блок навігації та фільтру</div>
            <div class="body__navigation__block">
                <div class="body__navigation__block__label">
                    <div>Кількісь котів:</div>
                </div>
                <div class="body__navigation__block__item">
                    <mat-form-field>
                        <mat-label>Обирай</mat-label>
                        <mat-select [(value)]="selectedPageQty">
                            <mat-option *ngFor="let key of qtyImages" value="{{key}}">{{key}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="body__navigation__block">
                <div class="body__navigation__block__label">
                    <div>Пошук кота</div>
                </div>
                <div class="body__navigation__block__item search">
                    <form [formGroup]="forSerch" *ngIf="forSerch">
                        <mat-form-field class="example-full-width ">
                            <mat-label>Ангійською</mat-label>
                            <input (input)="serchText()" (blur)="serchText()" #inputSerch matInput placeholder="Пошук породистого" value="" formControlName="inputcontorl">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="body__navigation__block">
                <div class="body__navigation__block__label">
                    <div>Обрати Породу:</div>
                </div>
                <div class="body__navigation__block__item">
                    <mat-form-field>
                        <mat-label>Тицяй</mat-label>
                        <mat-select #matSelect (selectionChange)="choiceBreed($event.value)" multiple>
                            <mat-option *ngFor="let cat of catagoryArr" [value]="cat.name">{{cat.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="body__main main">
            <div class="main__block">
                <div *ngFor="let cat of catImages  | paginate: { itemsPerPage: selectedPageQty, currentPage: p }" class="main__block__item item">
                    <div class="item__img">
                        <img src="{{cat.img}}">
                    </div>
                    <div class="item__title">
                        <span>{{cat.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>